@use "../node_modules/bootstrap/scss/bootstrap.scss";

.project_preview{
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    }



.card-body{
height: 280px;
}

.card-footer{
    height: 140px;
}