@use "../node_modules/bootstrap/scss/bootstrap.scss";
@use "../scss/partials/partials" as *;
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

.project_preview{
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    }



.card-body{
height: 280px;
}

.card-footer{
    height: 140px;
}

.single_project{
    height: 70vh;
}

/* #region Pie_graph */

.pie {
    --w:100px;
    
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    place-content: center;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
  }


  .pie:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  }

  .pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }

  /* #endregion Pie_graph */

  /* #region GlitchText */
  @import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

$bg-color: black;
$glitch-bg-color: white;

  .glitch {
    position: relative;
    background: $glitch-bg-color;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: white;
  }
  
  .glitch::before,
  .glitch::after {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    overflow: hidden;
    position: absolute;
    top: 0;
    clip: rect(0, 900px, 0, 0);
    content: attr(data-text);
  }
  
  .glitch::after {
    animation-name: glitch-animation;
    animation-duration: 4s;
    left: 4px;
    text-shadow: -1px 0 #ffa800;
    background: $glitch-bg-color;
  }
  
  .glitch::before {
    animation-name: glitch-animation-2;
    animation-duration: 6s;
    left: -4px;
    text-shadow: 1px 0 #00d8ff;
    background: $glitch-bg-color;
  }
  
  @mixin rect($top, $bottom) {
    clip: rect($top, 9999px, $bottom, 0);
  }
  
  /* Expanded Animations */
  @keyframes glitch-animation {
    0% { @include rect(42px, 44px); }
    5% { @include rect(12px, 59px); }
    10% { @include rect(48px, 29px); }
    15.0% { @include rect(42px, 73px); }
    20% { @include rect(63px, 27px); }
    25% { @include rect(34px, 55px); }
    30.0% { @include rect(86px, 73px); }
    35% { @include rect(20px, 20px); }
    40% { @include rect(26px, 60px); }
    45% { @include rect(25px, 66px); }
    50% { @include rect(57px, 98px); }
    55.0% { @include rect(5px, 46px); }
    60.0% { @include rect(82px, 31px); }
    65% { @include rect(54px, 27px); }
    70% { @include rect(28px, 99px); }
    75% { @include rect(45px, 69px); }
    80% { @include rect(23px, 85px); }
    85.0% { @include rect(54px, 84px); }
    90% { @include rect(45px, 47px); }
    95% { @include rect(37px, 20px); }
    100% { @include rect(4px, 91px); }
  }
  
  @keyframes glitch-animation-2 {
    0% { @include rect(65px, 100px); }
    5% { @include rect(52px, 74px); }
    10% { @include rect(79px, 85px); }
    15.0% { @include rect(75px, 5px); }
    20% { @include rect(67px, 61px); }
    25% { @include rect(14px, 79px); }
    30.0% { @include rect(1px, 66px); }
    35% { @include rect(86px, 30px); }
    40% { @include rect(23px, 98px); }
    45% { @include rect(85px, 72px); }
    50% { @include rect(71px, 75px); }
    55.0% { @include rect(2px, 48px); }
    60.0% { @include rect(30px, 16px); }
    65% { @include rect(59px, 50px); }
    70% { @include rect(41px, 62px); }
    75% { @include rect(2px, 82px); }
    80% { @include rect(47px, 73px); }
    85.0% { @include rect(3px, 27px); }
    90% { @include rect(26px, 55px); }
    95% { @include rect(42px, 97px); }
    100% { @include rect(38px, 49px); }
  }

  /* #endregion GlitchText */

/* #region Utilities */
.pf_bg_dark{
  background-color: $pf-dark;
}

.pf_bg_main{
  background-color: $pf-main;
}

.pf_bg_light{
  background-color: $pf-light;
}

.pf_text_main{
  color: $pf-main;
}

.pf_text_light{
  color: $pf-light;
}

.pf_text_dark{
  color: $pf-dark;
}

.lh_20{
  line-height: 15rem;
}

.cm_font{
  font-family: 'Bayon', sans-serif;
}
.vertical_text{
  writing-mode: vertical-rl;
text-orientation: mixed; 
transform: rotate(180deg);
}

.cm_title{
  font-family: 'Bayon', sans-serif;
  font-size: 180px;
  font-weight: 500;
  letter-spacing: 3px;
  white-space: nowrap;
  
}

.home_desc{
  font-family: 'Bayon', sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.spacer{
  margin: 12rem auto;
  border: 2px solid $pf-main;
  flex-grow: 1;
  height: 0;
  border-radius: 5px;
}

.spacer_item{
  margin: 12rem auto;
  border: 2px solid $pf-main;
  border-radius: 10px;
  height: 12px;
  width: 5%;
}

.pagination {


  .page-item.active>.page-link {
      background-color: $pf_main;
      border: 1px solid $pf_main;
      color: $pf_light;
  }

  .page-link {
      border-color: $pf_main;
      color: $pf_main;
  }
}



/* #endregion Utilities */
